<audio></audio>
    <hr />
    <h1 id="Snake">Snake</h1>
    <header id="headerId">
      <button id="start">Start</button>
      <button id="logout" onclick="signout()">logout</button>
      <h1 id="playerId">{{player}}</h1>
    </header>
    <hr id="hr" />
    <div id="gameField">
      <canvas class="canvas tile" width="300" height="300"></canvas>
    </div>
    <p>Score: <div class="unterCanvas" id="score">0</div></p>
      <p>HighScore: <div class="unterCanvas" id="HighScore">{{highscore}}</div></p>
    <script type="text/javascript" src="../js/events.js" defer></script>
    <script type="text/javascript" src="../js/fruit.js"></script>
    <script type="text/javascript" src="../js/snake.js"></script>
    <script type="text/javascript" src="../js/canvas.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>