    <div class="users sign-up"></div>
      <h1>Konto erstellen</h1>
      <form action="/users/register" method="post" id="registerForm">
        <div class="form-group">
          <label for="name" class="control-label">Name<br /></label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            autofocus="autofocus"
          />
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Passwort<br /></label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <div class="form-group">
          <label for="passwordCheck" class="control-label"
            >Passwort wiederholen<br /></label          >
          <input
            type="password"
            class="form-control"
            id="passwordCheck"
            name="passwordCheck"
          />
        </div>
        <button type="submit" class="btn btn-primary">Konto erstellen</button>
      </form>
      <hr>
      <p>Sie haben bereits ein Konto?</p>
      <button id="redirectLogin" class="btn">Login</button>
    </div>
    <script defer>
      document.getElementById("redirectLogin").onclick = () => {
        location.href = "http://localhost:3000/users/login"
      }
   </script>